@charset "utf-8";

@import url(common.css);
#header {   
	width: 800px;
	height: 70px;
	margin: 20px auto 40px auto;
	position: relative;
}
#header h1 {
	margin : 0;
	position: absolute;
}
#nav {
	position: absolute;
	right: 0;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
}
#nav ul li {
	float: left;
}
#footer p {
	margin-bottom: 0;
	padding: 14px 0 14px 0;
	background-image: url(../images/web1.jpg);
	background-repeat: repeat-x;
	text-align: center;
}
textarea {
    width: 500px;
    height: 170px;
    overflow-y: scroll;
}
input.name {
    width: 500px;
}

#footer p {
	margin-bottom: 0;
	padding: 14px 0 14px 0;
	background-image: url(../images/web1.jpg);
	background-repeat: repeat-x;
	text-align: center;
}