@font-face {
    font-family: 'icn_font';
    src:    url('/etc/designs/family/component/fonts/icn_font.eot?3mnixj');
    src:    url('/etc/designs/family/component/fonts/icn_font.eot?3mnixj#iefix') format('embedded-opentype'),
        url('/etc/designs/family/component/fonts/icn_font.ttf?3mnixj') format('truetype'),
        url('/etc/designs/family/component/fonts/icn_font.woff?3mnixj') format('woff'),
        url('/etc/designs/family/component/fonts/icn_font.svg?3mnixj#icn_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ly-mod-icn"], [class*=" ly-mod-icn"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icn_font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ly-mod-icn001:before {
    content: "\e900";
}
.ly-mod-icn002:before {
    content: "\e901";
}
.ly-mod-icn003:before {
    content: "\e902";
}
.ly-mod-icn004:before {
    content: "\e903";
}
.ly-mod-icn005:before {
    content: "\e904";
}
.ly-mod-icn006:before {
    content: "\e905";
}
.ly-mod-icn007:before {
    content: "\e906";
}
.ly-mod-icn008:before {
    content: "\e907";
}
.ly-mod-icn009:before {
    content: "\e908";
}
.ly-mod-icn010:before {
    content: "\e909";
}
.ly-mod-icn011:before {
    content: "\e90a";
}
.ly-mod-icn012:before {
    content: "\e90b";
}
.ly-mod-icn013:before {
    content: "\e90c";
}
.ly-mod-icn014:before {
    content: "\e90d";
}
.ly-mod-icn015:before {
    content: "\e90e";
}
.ly-mod-icn016:before {
    content: "\e90f";
}
.ly-mod-icn017:before {
    content: "\e910";
}
.ly-mod-icn018:before {
    content: "\e911";
}
.ly-mod-icn019:before {
    content: "\e912";
}
.ly-mod-icn020:before {
    content: "\e913";
}
.ly-mod-icn021:before {
    content: "\e914";
}
.ly-mod-icn022:before {
    content: "\e915";
}
.ly-mod-icn023:before {
    content: "\e916";
}
.ly-mod-icn024:before {
    content: "\e917";
}
.ly-mod-icn025:before {
    content: "\e918";
}
.ly-mod-icn026:before {
    content: "\e919";
}
.ly-mod-icn027:before {
    content: "\e91a";
}
.ly-mod-icn028:before {
    content: "\e91b";
}
.ly-mod-icn029:before {
    content: "\e91c";
}
.ly-mod-icn030:before {
    content: "\e91d";
}
.ly-mod-icn031:before {
    content: "\e91e";
}
.ly-mod-icn032:before {
    content: "\e91f";
}
.ly-mod-icn033:before {
    content: "\e920";
}
.ly-mod-icn034:before {
    content: "\e921";
}
.ly-mod-icn035:before {
    content: "\e922";
}
.ly-mod-icn036:before {
    content: "\e923";
}
.ly-mod-icn037:before {
    content: "\e924";
}
.ly-mod-icn038:before {
    content: "\e925";
}
.ly-mod-icn039:before {
    content: "\e926";
}
.ly-mod-icn040:before {
    content: "\e927";
}
.ly-mod-icn041:before {
    content: "\e928";
}
.ly-mod-icn042:before {
    content: "\e929";
}
.ly-mod-icn043:before {
    content: "\e92a";
}
.ly-mod-icn044:before {
    content: "\e92b";
}
.ly-mod-icn045:before {
    content: "\e92c";
}
.ly-mod-icn046:before {
    content: "\e92d";
}
.ly-mod-icn047:before {
    content: "\e92e";
}
.ly-mod-icn048:before {
    content: "\e92f";
}
.ly-mod-icn049:before {
    content: "\e930";
}
.ly-mod-icn050:before {
    content: "\e931";
}
.ly-mod-icn051:before {
    content: "\e932";
}
.ly-mod-icn052:before {
    content: "\e933";
}
.ly-mod-icn053:before {
    content: "\e934";
}
.ly-mod-icn054:before {
    content: "\e935";
}
.ly-mod-icn055:before {
    content: "\e936";
}
.ly-mod-icn056:before {
    content: "\e937";
}
.ly-mod-icn057:before {
    content: "\e938";
}
.ly-mod-icn058:before {
    content: "\e939";
}
.ly-mod-icn059:before {
    content: "\e93a";
}
.ly-mod-icn060:before {
    content: "\e93b";
}
.ly-mod-icn061:before {
    content: "\e93c";
}
.ly-mod-icn062:before {
    content: "\e93d";
}
.ly-mod-icn063:before {
    content: "\e93e";
}
.ly-mod-icn064:before {
    content: "\e93f";
}
.ly-mod-icn065:before {
    content: "\e940";
}
.ly-mod-icn066:before {
    content: "\e941";
}
.ly-mod-icn067:before {
    content: "\e942";
}
.ly-mod-icn068:before {
    content: "\e943";
}
.ly-mod-icn069:before {
    content: "\e944";
}
.ly-mod-icn070:before {
    content: "\e945";
}
.ly-mod-icn071:before {
    content: "\e946";
}
.ly-mod-icn072:before {
    content: "\e947";
}
.ly-mod-icn073:before {
    content: "\e948";
}
.ly-mod-icn074:before {
    content: "\e949";
}
.ly-mod-icn075:before {
    content: "\e94a";
}
.ly-mod-icn076:before {
    content: "\e94b";
}
.ly-mod-icn077:before {
    content: "\e94c";
}
.ly-mod-icn078:before {
    content: "\e94d";
}
.ly-mod-icn079:before {
    content: "\e94e";
}
.ly-mod-icn080:before {
    content: "\e94f";
}
.ly-mod-icn081:before {
    content: "\e950";
}
.ly-mod-icn082:before {
    content: "\e951";
}
.ly-mod-icn083:before {
    content: "\e952";
}
.ly-mod-icn084:before {
    content: "\e953";
}
.ly-mod-icn085:before {
    content: "\e954";
}
.ly-mod-icn086:before {
    content: "\e955";
}
.ly-mod-icn087:before {
    content: "\e956";
}
.ly-mod-icn088:before {
    content: "\e957";
}
.ly-mod-icn089:before {
    content: "\e958";
}
.ly-mod-icn090:before {
    content: "\e959";
}
.ly-mod-icn091:before {
    content: "\e95a";
}
.ly-mod-icn092:before {
    content: "\e95b";
}
.ly-mod-icn093:before {
    content: "\e95c";
}
.ly-mod-icn094:before {
    content: "\e95d";
}
.ly-mod-icn095:before {
    content: "\e95e";
}
.ly-mod-icn096:before {
    content: "\e95f";
}
.ly-mod-icn097:before {
    content: "\e960";
}
.ly-mod-icn098:before {
    content: "\e961";
}
.ly-mod-icn099:before {
    content: "\e962";
}
.ly-mod-icn100:before {
    content: "\e963";
}
.ly-mod-icn101:before {
    content: "\e964";
}
.ly-mod-icn102:before {
    content: "\e965";
}
.ly-mod-icn103:before {
    content: "\e966";
}
.ly-mod-icn104:before {
    content: "\e967";
}
.ly-mod-icn105:before {
    content: "\e968";
}
.ly-mod-icn106:before {
    content: "\e969";
}
.ly-mod-icn107:before {
    content: "\e96a";
}
.ly-mod-icn108:before {
    content: "\e96b";
}
.ly-mod-icn109:before {
    content: "\e96c";
}

